php_value upload_max_filesize 6M
# enable display of all errors
php_flag display_errors on


AddDefaultCharset UTF-8
Options -Indexes

# Check to see if we have mod_rewrite
<IfModule mod_rewrite.c>

    RewriteEngine On

	# If the file or directory exists, show it
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^(.+) - [PT,L]

	RewriteRule ^cache/cp_([0-9]*)_([0-9]*)_(.*)\.(png|jpg|gif|PNG|JPG|GIF) index.php/image/crop/$1/$2/$4/$3 [L]
	RewriteRule ^cache/([0-9]*)_([0-9]*)_(.*)\.(png|jpg|jpeg|gif|PNG|JPG|JPEG|GIF) index.php/image/render/$1/$2/$4/$3 [L]

	RewriteRule ^cache/th_(.*)_([0-9]*)_([0-9]*)_([0-9]*)_(.*)\.(png|jpg|jpeg|gif|PNG|JPG|JPEG|GIF) cms/index.php/image/thumb/$1/$2/$3/$4/$6/$5 [L]

    # Blank queries get sent to the index
    RewriteRule ^$ index.php [L]

    # Blank queries with /cms get sent to the cms
    RewriteRule ^cms/$ cms/index.php [L]
	
	# All queries after cms are sent to the cms as cms.php/whatever
	RewriteRule ^cms/(.*)$ cms/index.php/$1 [L]
    
    # All other queries get sent to the index as index.php/whatever
    RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>